@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Updock', cursive;
    background-color: rgba(169, 169, 169, 0.329);
}
.container{
    width: 1342px;
    margin: auto;   
}
.name h1{
    margin: 0;
    padding: 0;
}
.name img{
    width: 30px;
}
.name2 img{
    width: 50px !important;
}
#header{
    background-color: black;
    width: 84%;
    height: 50px;
    margin: auto;
    padding: 0 120px;
}
#menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ul li{
    margin: 0;
    padding: 0;
    display: inline;
}

#menu ul li a{
    display: block;
    margin-right: 90px;
    height: 30px;
    float: left;
    padding: 10px 0 0 0 ; /*-> es lo mismo: padding-top:10px ; */
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    color: #fff;
}
.name{
    height: 50%;
}
.content{
    width: 25%;
    margin: 25px;
}
#title{
    display: flex;
    justify-content:space-around;
    width: 100%;
     flex-wrap: wrap;
}
#main-principal{
    padding: 50px;    
}
#banner{
    padding: 20px;
    background-color: #fff;
    margin: 0;
}
.item-banner{
    width: 70%;
}
.item-banner{
    width: 30%;
}
#information{
    margin-top: 50px;
}
#body-information{
    display: flex;
    justify-content:space-around;
    width: 100%;
    
}
.item-info{
    width: 30%;
    margin: 15px;
}
.item-info-title img{
   width: 100%;
   height: 200px;
}
.item-info-title h1{
    font-size: 3rem;
    padding-right: 80px;
 }
.item-info p{
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}
.item-info a{
    float: right;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
#contenido{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(16, 88, 88, 0.404);
    padding: 0;
}
.item-conte{
    width: 35%;
    color: #fff;
    padding: 50px 50px 50px 84px;
}
.item-conte h1{
    font-size: 3rem;
    margin: 10px;
}
.item-conte h2{
    font-size: 1.5rem;
}
.item-conte p{
    font-size: 1.5rem;
}
.item-conte ul{
    color: yellow !important;
}
.item-conte img{
    width: 100%;
    height: 200px;
}
.item-ima{
    padding:15px;
    background-color:rgba(33, 109, 160, 0.247);
}
.item-conte1{
    width: 30%;
}
.item-conte1 h1{
    font-size: 3rem;
}
.item-conte1 h2{
    float: right;
    padding-right: 125px;
}
.item-button{
    color: #fff;
    background-color:yellow;
    padding: 5px;
}
#body-information1{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: 20px;
}
.item-body1{
    height: 33%;
    width: 33%;
}
.item-body1 img{
    height: 50px;
    margin-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.item-body2{
    display: flex;

}
.item-body2 h1{
    font-size: 2.5rem;
}
.item-body3{
    height: 33%;
    width: 33%;
}
.item-body3 h1{
    font-size: 3rem;
    border-bottom: 10px solid #fff;
}
.item-body3 p{
    font-size: 1.5rem;
}
#body-information2{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: 20px;
    background-color:darkkhaki;
    padding: 20px;
}
#footer{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    background-color: rgb(66, 57, 57);
    padding: 20px;

}
.item-footer{
    height: 33%;
    width: 33%;
    color: #fff;
}
.item-footer h1{
    border-top: 1px solid rgb(124, 109, 109);
}
.item-footer a{
    text-decoration: none;
    color:#fff;
    border-right: 1px solid rgb(124, 109, 109);
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
}
.item-footer h2{
    margin: 0;
}
.item-footer img{
    width: 50px;
}
